
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>To Do</title>
  </head>
  <body>


	<style type="text/css">
		body{
		  background-color:#3f1052;
		}
		
		
	  </style>


	<div class="container-fluid">
    	<div class="row">
			<div class="col-lg-12"; style=" height: 50px;"></div>
			<div class="col-lg-3";></div>
			<div class="col-lg-6";>	
				<center>
					<h2 style="color: white;">Update</h2>

					<form method="POST" action="" style="color: white;">
						{% csrf_token %}
					
						{{form}}
						<input type="submit" name="Update Task">
						
						
					</form>
				</center>
			</div>
			<div class="col-lg-3";></div>
		</div>
	</div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
  </body>
</html>
